<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
    class="mat-elevation-z15 w15rem vh100 center pt3 bg-base-secondary white br-goldenrod">
    <h3 class="text-center">My Angular Site</h3>
    <div class="flex flex-column">
      <section>
        <mat-action-list role="list">
          <button mat-list-item routerLink="/about">
            <span class="white center">About</span>
          </button>
          <mat-divider class="bg-dark-gray"></mat-divider>
          <button mat-list-item routerLink="/articles">
            <span class="white center">Articles</span>
          </button>
          <mat-divider class="bg-dark-gray"></mat-divider>
        </mat-action-list>
      </section>
      <app-footer></app-footer>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="center bg-gray">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
