<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
    class="app-sidenav center pt3 bg-base-secondary white">
    <h3 class="text-center">My Angular Site</h3>
    <section class="">
      <mat-action-list role="list">
        <button mat-list-item routerLink="/about">
          <span class="white">About</span>
        </button>
        <button mat-list-item routerLink="/">
          <span class="white">Articles</span>
        </button>
      </mat-action-list>
    </section>
    <mat-divider class="bg-gray"></mat-divider>
    <app-footer></app-footer>
  </mat-sidenav>

  <mat-sidenav-content class="center bg-gray">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
