<div class="bg-gray center w-100 vh-100">
    <div
      class="eh-mw9 center w-100 pt3 ph3"
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutAlign="space-evenly start">
      <ng-container>
        <mat-card
          class="card w-100"
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%">
          <img mat-card-image src="https://via.placeholder.com/150x100?text=DDD" alt="Photo of a Shiba Inu">
          <mat-card-header>
            <mat-card-title>Domain Driven Design</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card
          class="card w-100"
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%">
          <img mat-card-image src="https://via.placeholder.com/150x100?text=DDD" alt="Photo of a Shiba Inu">
          <mat-card-header>
            <mat-card-title>Domain Driven Design</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card
          class="card w-100"
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%">
          <img mat-card-image src="https://via.placeholder.com/150x100?text=DDD" alt="Photo of a Shiba Inu">
          <mat-card-header>
            <mat-card-title>Domain Driven Design</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card
          class="card w-100"
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%">
          <img mat-card-image src="https://via.placeholder.com/150x100?text=DDD" alt="Photo of a Shiba Inu">
          <mat-card-header>
            <mat-card-title>Domain Driven Design</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card
          class="card w-100"
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%">
          <img mat-card-image src="https://via.placeholder.com/150x100?text=DDD" alt="Photo of a Shiba Inu">
          <mat-card-header>
            <mat-card-title>Domain Driven Design</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card
          class="card w-100"
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%">
          <img mat-card-image src="https://via.placeholder.com/150x100?text=DDD" alt="Photo of a Shiba Inu">
          <mat-card-header>
            <mat-card-title>Domain Driven Design</mat-card-title>
          </mat-card-header>
        </mat-card>
      </ng-container>
    </div>
</div>
