<div class="bg-gray center w-100 vh-100">
    <div
      class="eh-mw6 center w-100 pt5 ph3"
      fxLayout="column">
      <ng-container>
        <h1>Blog</h1>
        <app-article-preview
          class="card w-100"
          fxFlex="0 1 100%"
          *ngFor="let article of articles"
          [article]="article"></app-article-preview>

          <div class="app-article-preview"
            [hidden]="!loading">
              Loading articles...
          </div>
      </ng-container>
    </div>
</div>
