@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './util';

body {
  margin: 0;
}

.bg-gray {
  background-color: #f4f7f9;
}

.bg-dark-gray {
  background-color: #3c3c3c;
}

.bg-base-secondary {
  background-color: #141618;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.eh-mw9 {
  max-width: 50rem;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.pt3 {
  padding-top: 1rem;
}

.pt5 {
  padding-top: 1rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ph4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.w15rem {
  width: 15rem;
}

